body {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    background: linear-gradient(135deg, #222020, #1e1c1c);
    color: #d89789;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

h1, h2, label, strong {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    color: #ec5c3d;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

input {
    background-color: #2a2828;
    border: 1px solid #3d3838;
    color: #fff;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

button {
    background-color: #ec5c3d;
    color: #fff;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #d97565;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.results, .userTable, .elementAbove {
    margin-top: 20px;
}

.centered {
    text-align: center;
}

.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-top: 10px; /* Adjust the top margin as needed */
    max-width: 300px; /* Adjust the maximum width as needed */
    justify-content: center;
    margin: auto;
    text-align: center;
  }
  