/* styles.css */

body {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    background-color: #222020;
    color: #d89789;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    color: #ec5c3d;
    /* center the heading */
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    display: block;
    margin-bottom: 10px;
    color: #ec5c3d;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #ec5c3d;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ec5c3d;
}

.results {
    margin-top: 20px;
}

h2 {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    color: #ec5c3d;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    margin-bottom: 20px;
}

strong {
    font-family: 'Orbitron-Regular', 'Helvetica', sans-serif;
    color: #ec5c3d;
}
.userTable {
  margin-top: 0; /* Adjust as needed */
}
.elementAbove {
  margin-bottom: 10px; /* Adjust as needed */
}

.centered{
  margin-top: 0;
  margin-left: 650px;
  justify-content: center;
}
.centeredTable {
  margin-top: 0;
  margin-left: 500px;
}